/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #c0c5ce;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

.navbar.navbar-inverse.navbar-fixed-top {
    background-color: #343d46;

}

.container.body-content {
    background-image: url("/Images/1920x1080-wallpaper-rolls-royce-wraith-rolls-royce-wraith-side-view.jpg");
    max-width: 100%;
    height: 1080px;
}

.jumbotron {
    opacity: 0.9;
    display: inline-block;
    margin-left: 30px;
}


.clearfix {
    overflow: auto;
}

.imagegallery {
    border-radius: 5px;
    width: 100%;
    height: 20%;
    background-color: #4f5b66;
    display: inline-block;
}

.imagegallery ul {
    list-style-type: none;
}

.imagegallery ul li {
    float: left;
    padding: 15px;
}

.image-gallery {
    width: 100%;
}

.imagegallery-wraper {
    position: absolute;
    top: 220px;
    left: 620px;
}

/*Div Rapper*/
.content-wrapper {
    margin: 0 10%;
    background-color: #4f5b66;
}

.search-title h1 {
    text-align: center;
    font-size: 40px;
    /*padding-left: 50px;*/
    color: white;
    
}

.table-responsive {
    overflow-y: hidden;
    background-color: white;
}

